html {
    /*background-color: #f4a300;*/
    background-color: #212C31;
}

div.no-print {
    display: none;
}

.player-table thead tr th {
    text-align: center;
}

.player-table tbody tr td {
    text-align: center;
}

.player-table tbody tr th {
    text-align: center;
    vertical-align: middle;
}
