<template name="404">
<section class="content-header">
    <h1>Page Not Found</h1>
</section>
<section class="content">
<div class="row">
  <div class="col-xs-12">
      <div class="box box-warning">
          <div class="box-header with-border">
              <h2 class="box-title">Error 404</h2>
          </div>
          <div class="box-body" style="display: block;">
              <p>Perhaps you went to the wrong page.</p>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
</div>
</section>
</template>
