<template name="header">
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{{pathFor 'players'}}" class="logo">FPL</a>
    <!-- <a href="{{pathFor 'players'}}" class="logo"><img src=""/></a> -->

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
<!--       <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">

      </div>
    </nav>
  </header>
</template>
